@import "styles/mixins/grid";

.grid {
  @include display-grid;
  @include grid-template-columns(100px 100px 100px 100px 100px, 2px); // Cols & gap
  @include grid-template-rows(100px 100px 100px 100px 100px, 2px); // Rows & gap

  .cell{
    &.cell_1 {
      @include grid-child(1, 1, 1, 1); // col_start,col_end,row_start,row_end
    }
    &.cell_2 {
      @include grid-child(2, 4, 1, 3);
      @include display-grid;
      @include grid-template-columns(1fr 1fr 1fr 1fr, 0px);
      @include grid-template-rows(1fr 1fr 1fr 1fr, 0px);
      .cell_2-1{
        @include grid-child(1, 1, 1, 4);
        background: #ff7e67;
      }
      .cell_2-2{
        @include grid-child(2, 4, 1, 1);
        background: #ff7e67;
      }
      .cell_2-3{
        @include grid-child(2, 4, 2, 4);
        background: #a2d5f2;
      }
    }
    &.cell_3 {
      @include grid-child(5, 5, 1, 1);
    }
    &.cell_4 {
      @include grid-child(1, 1, 2, 3);
    }
    &.cell_5 {
      @include grid-child(5, 5, 2, 4);
    }
    &.cell_6 {
      @include grid-child(1, 4, 4, 4);
    }
    &.cell_7 {
      @include grid-child(1, 2, 5, 5);
    }
    &.cell_8 {
      @include grid-child(3, 3, 5, 5);
    }
    &.cell_9 {
      @include grid-child(4, 5, 5, 5);
    }
    background-color: #07689f;
    font-size: 26px;
    color: white;
  }
}