/****************************************************************
 *                       GRID FOR IE 10/11                      *
 * https://bitbucket.org/coder_space/scss-css-grid-for-ie-10-11 *
 *                Send me email if you found a bug              *
 *                      contact@coder.space                     *
 ****************************************************************/
.grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2px;
  -ms-grid-columns: 100px 2px 100px 2px 100px 2px 100px 2px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-row-gap: 2px;
  -ms-grid-rows: 100px 2px 100px 2px 100px 2px 100px 2px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px; }
  .grid .cell {
    background-color: #07689f;
    font-size: 26px;
    color: white; }
    .grid .cell.cell_1 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-column: 1/2;
      grid-row: 1/2; }
    .grid .cell.cell_2 {
      -ms-grid-column: 3;
      -ms-grid-column-span: 5;
      -ms-grid-row: 1;
      -ms-grid-row-span: 5;
      grid-column: 2/5;
      grid-row: 1/4;
      display: -ms-grid;
      display: grid;
      grid-column-gap: 0px;
      -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 0px;
      -ms-grid-rows: 1fr 0px 1fr 0px 1fr 0px 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr; }
      .grid .cell.cell_2 .cell_2-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 7;
        grid-column: 1/2;
        grid-row: 1/5;
        background: #ff7e67; }
      .grid .cell.cell_2 .cell_2-2 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 5;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-column: 2/5;
        grid-row: 1/2;
        background: #ff7e67; }
      .grid .cell.cell_2 .cell_2-3 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 5;
        -ms-grid-row: 3;
        -ms-grid-row-span: 5;
        grid-column: 2/5;
        grid-row: 2/5;
        background: #a2d5f2; }
    .grid .cell.cell_3 {
      -ms-grid-column: 9;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-column: 5/6;
      grid-row: 1/2; }
    .grid .cell.cell_4 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 3;
      grid-column: 1/2;
      grid-row: 2/4; }
    .grid .cell.cell_5 {
      -ms-grid-column: 9;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 5;
      grid-column: 5/6;
      grid-row: 2/5; }
    .grid .cell.cell_6 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 7;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-column: 1/5;
      grid-row: 4/5; }
    .grid .cell.cell_7 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 9;
      -ms-grid-row-span: 1;
      grid-column: 1/3;
      grid-row: 5/6; }
    .grid .cell.cell_8 {
      -ms-grid-column: 5;
      -ms-grid-column-span: 1;
      -ms-grid-row: 9;
      -ms-grid-row-span: 1;
      grid-column: 3/4;
      grid-row: 5/6; }
    .grid .cell.cell_9 {
      -ms-grid-column: 7;
      -ms-grid-column-span: 3;
      -ms-grid-row: 9;
      -ms-grid-row-span: 1;
      grid-column: 4/6;
      grid-row: 5/6; }

/*# sourceMappingURL=main.css.map */
