/****************************************************************
 *                       GRID FOR IE 10/11                      *
 * https://bitbucket.org/coder_space/scss-css-grid-for-ie-10-11 *
 *                Send me email if you found a bug              *
 *                      contact@coder.space                     *
 ****************************************************************/

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-template-columns($args, $gap) {
  $list: ();
  @for $i from 1 through length($args) {
    $arg: nth($args, $i);
    $list: append($list, $arg);
    @if $i < length($args){
      $list: append($list, $gap);
    }
  }
  grid-column-gap: $gap;
  -ms-grid-columns: $list;
  grid-template-columns: $args;
}

@mixin grid-template-rows($args, $gap) {
  $list: ();
  @for $i from 1 through length($args) {
    $arg: nth($args, $i);
    $list: append($list, $arg);
    @if $i < length($args){
      $list: append($list, $gap);
    }
  }
  grid-row-gap: $gap;
  -ms-grid-rows: $list;
  grid-template-rows: $args;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  // Col width Internet Explorer
  -ms-grid-column: $col-start*2-1;
  @if $col-start > 1 {
    @if $col-end == $col-start {
      -ms-grid-column-span: 1;
    } @else if $col-end - $col-start <= 1{
      -ms-grid-column-span: 3;
    } @else {
      -ms-grid-column-span: ($col-start*2-1)+($col-start*2-2);
    }
  } @else {
    -ms-grid-column-span: $col-end + ($col-end - 1);
  }

  // Col height Internet Explorer
  -ms-grid-row: $row-start*2-1;
  @if $row-start > 1 {
    @if $row-end == $row-start {
      -ms-grid-row-span: 1;
    } @else if $row-end - $row-start <= 1{
      -ms-grid-row-span: 3;
    } @else {
      -ms-grid-row-span: ($row-start*2-1)+($row-start*2-2);
    }
  } @else {
    -ms-grid-row-span: $row-end + ($row-end - 1);
  }

  grid-column: #{$col-start}/#{$col-end + 1};
  grid-row: #{$row-start}/#{$row-end + 1};
}

